# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Platforms
android/
ios/
web/
linux/
macos/
windows/

# IDEs
.idea/
.vscode/
*.iml

# Others
coverage/
*.log
*.lock
**/.DS_Store
**/Thumbs.db
**/.fleet
